<h2>Log In</h2>

<p><%= flash[:error] %></p>

<%= form_for(:user) do |f|%>
    <div class="input-field">
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>
    <div class="input-field">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <%= f.submit "Log In", :class => "btn indigo lighten-2" %>
<% end %>