<h2> Sign Up </h2>
<%= render partial: 'layouts/errors', locals: {object: @user} %>
<%= form_for(@user) do |f|%>
    <div class="input-field">
        <%= f.text_field :username %>
        <%= f.label :username %>
    </div>
    <div class="input-field">
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

     <%= f.submit "Sign Up", :class => "btn indigo lighten-2" %>

<% end %>
