<%= form_for(@book) do |f|%>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title, size: "50x5" %>
    </div>
    <div>
    <div>
        <%= f.fields_for :author do |a| %>
            <%= a.label :author %>
            <%= a.text_field :name, size: "50x5" %>
        <% end %>
    </div>
    <br>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description, size: "50x10" %>
    </div>
    <%= f.submit %>
<% end %>
