<h1><%= @book.title %>  </h1>

<h2> <%= @book.author.name %> </h2>
<div>
  <p><%= @book.description %></p>
</div>

<h3>Added by: <%= link_to @book.user.username, user_path(@book.user)%> </h3>

<%= link_to "Edit #{@book.title}", edit_book_path(@book) if @book.user == current_user%>

<br></br>

<%= link_to "See all Reviews", book_reviews_path(@book) %>