<%= render partial: 'layouts/errors', locals: {object: @review} %>

<%= form_for(@review) do |f| %>
    <div>
        <%= f.label :book_id, "Select a Book" %>
        <%= f.collection_select :book_id, Book.alphabetize, :id, :title_and_author, { include_blank: true }, {class: "btn btn-secondary dropdown-toggle"} %>
    </div>
    <br>
    <br>
    <div>    
        <%= f.label :rating %>
        <%= f.number_field :rating, min:0, max:10 %>
    </div>
    <br>
    <div class="input-field">    
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <br>
    <div class="input-field">    
        <%= f.label :content %>
        <%= f.text_area :content, size: "50x10" %>
    </div>
    <%= f.hidden_field :book_id %>
    <%= f.submit :class => "btn indigo lighten-2" %>
<% end %>