<%= display_review_header %>

<%= render partial: 'layouts/errors', locals: {object: @review} %>

<%= form_for(@review) do |f| %>
    <div>
        <%= f.label :book_id, "Select a Book" %>
        <%= f.collection_select :book_id, Book.alphabetize, :id, :title_and_author, include_blank: true %>
    </div>
    <br>
    <div>    
        <%= f.label :rating %>
        <%= f.number_field :rating, min:0, max:10 %>
    </div>
    <br>
    <div>    
        <%= f.label :title %>
        <%= f.text_area :title, size: "50x5" %>
    </div>
    <br>
    <div>    
        <%= f.label :content %>
        <%= f.text_area :content, size: "50x10" %>
    </div>
    <%= f.submit %>
<% end %>
