<% if @book %>
    <h3 class="center">All Reviews for <%= link_to @book.title, book_path(@book) %> by <%= @book.author.name %></h3>
    <br>
    <% @book.reviews.each do |r| %>
            <h5><%= link_to r.title, review_path(r) %> - <%= r.rating %>/10</h5>
            <h6><%= r.content %></h6>
            <p>Review by: <%= r.user.username %></p>
    <% end %>
<% else %>
    <h3 class="center">All Reviews</h3>
    <% @books.each do |b| %>
        <h5><%= link_to b.title, book_path(b) %></h5>
        <% b.reviews.each do |br| %>
            <li><%= link_to br.title, review_path(br) %> </li>
        <% end %>
        <br>
    <% end %>
<% end %>
