<%= render partial: 'layouts/errors', loacls: {object: @review} %>

<% if params[:book_id] %> #do we have params book id? if we do, below is our title
    <h1>Write a Review for <%= @review.book.title %> by <%= @review.book.author.name %></h1>
<% else %> #if we don't have those params then here's a different h1 below
    <h1>Write a Review</h1>
<% end %>

<%= form_for(@review) do |f| %>
    <div>    
        <%= f.label :rating %>
        <%= f.number_field :rating, min:0, max:10 %>
    </div>
    <div>    
        <%= f.label :title %>
        <%= f.text_area :title, size: "50x5" %>
    </div>
    <div>    
        <%= f.label :content %>
        <%= f.text_area :content, size: "50x10" %>
    </div>
    <%= f.hidden_field :book_id %>

    <%= f.submit %>
<% end %>
