<h2><%= @review.title %> - <%= @review.rating %>/10 </h2>
<p><%= @review.content %></p>
<h4>Added by: <%= @review.user.username %> </h4>
<br>
<%= link_to "Edit Review", edit_review_path(@review) if @review.user == current_user %>


