<h4><%= @review.title %> - <%= @review.rating %>/10 </h4>
<h6><%= @review.content %></h6>
Added by: <%= @review.user.username %>
<br><br>
<%= link_to "Edit Review", edit_review_path(@review) if @review.user == current_user %>
<br>
<%= link_to "See all Reviews for this Book", book_reviews_path(@review.books.all) %>
