<!DOCTYPE html>
<html>
  <head>
    <title>PageOfReason</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
<body>
  <nav class="indigo lighten-2">
  
    <% if logged_in? %>
        <%= render partial: 'logged_in_links' %>
      <% else %>
        <%= render partial: 'layouts/logged_out_links' %>
      <% end %>
 
  </nav>

  <% if flash[:message] %>
    <h3 style="color: green;"><%= flash[:message] %></h3>
  <% end %>

  <% if flash[:error] %>
    <h3 style="color: red;"><%= flash[:error] %></h3>
  <% end %>

  <%= yield %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>