<!DOCTYPE html>
<html>
  <head>
    
    <title>PageOfReason</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div><%= render_nav_bar %></div>

  <% if flash[:message] %>
    <h3 style="color: green;"><%= flash[:message] %></h3>
  <% end %>

  <% if flash[:error] %>
    <h3 style="color: red;"><%= flash[:error] %></h3>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
